@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <p>Quelques liens utiles : </p>
        <br />
        <p>Rappel du fonctionnement du <a href="https://www.developpez.com/actu/134973/Apprendre-a-demystifier-le-modele-MVC-des-applications-ASP-NET-Core-moins-partie-1-par-Hinault-Romaric/">framework ASP .NET MVC</a></p>
        <p>Toute la doc <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
        <p>Tutoriel : créer <a href="https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-3.1"> une web app avec ASP.NET Core</a>.</p>
        <p><a href="https://docs.microsoft.com/fr-fr/ef/core/">Doc Entity Framework</a> (Base de donnée) </p>
        <br />
        <br />
        <p></p>
        <p>Votre mission :</p>
        <br />
        <p>1 - Créez votre model</p>
        <p>2 - Créez vore controlleur</p>
        <p>3 - Créez votre contexte de base de donnée</p>
        <p>4 - Créez les vues et routes C.R.U.D (Create Read Update Delete) pour votre modèle</p>
        <p>Utilisez les templates pour vous simplifier la vie ou recréez tout à la main</p>
    </div>
